#footer-container {
	max-width :$global-width;
	background-color: #FFF;
	width: 100%;
	margin: 0 auto;
	margin-bottom: rem-calc(60);
	padding: 0 rem-calc(50) rem-calc(50);

	@include breakpoint(small only) {
		padding: 0 rem-calc(20) rem-calc(10);
	}

	#footer {
		@include grid-row();
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
		.widget {
			padding-bottom: rem-calc(30);
			border-left: 1px solid #eee;
			border-right: 1px solid #eee;
			&:last-child {border:0;}
			&:first-child {border:0;}
		}
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
	}
}
